In [13]:
import pandas as pd
import numpy as np
from scipy.stats import norm
from scipy.stats import stats
from scipy.stats import binom

In [6]:
dataset = pd.read_csv("./datasets/bike_sharing_data_class.csv")

In [7]:
dataset.describe()

       Total_Rentals  Temperature     Holiday  Wind_Speed
count     500.000000    500.00000  500.000000  500.000000
mean      199.424000     20.03780    0.060000   15.175600
std        14.388129      5.03714    0.237725    4.845237
min       153.000000      6.50000    0.000000    1.800000
25%       190.000000     16.70000    0.000000   11.700000
50%       200.000000     19.80000    0.000000   15.300000
75%       209.000000     23.30000    0.000000   18.400000
max       238.000000     35.40000    1.000000   30.500000

In [11]:
# Variables
# X = temperature (in degrees C)
# std: mu = 20.04, sigma = 5.04

# P(X>25)
mu = 20.04
sigma = 5.04

norm.sf(25, mu, sigma)

0.16252654037905995

In [12]:
norm.cdf(20, mu, sigma)

0.4968338246640126

In [14]:
# Variables
# 20일 중 10일 이상 
# 25 c 이상인 확률

# Y is Binomial = 10
# n = 20
# p = P(X>25) = 0.16

binom.pmf(k = 10, n = 20, p = 0.16)
# 0.00035529675278917004

0.00035529675278917004